{% extends 'base.html' %}

{% block title %}Blog Post List{% endblock %}

{% block content %}
<h1>{{session.get('username')}} Profile</h1>
<h2>Blog Name: {{blog_name}}</h2>
<h3>Blog Posts List</h3>
<a href="{{url_for('create_blogpost',blog_id=blog_id)}}"> Create post</a>
<a href="{{url_for('read_profile')}}"> back</a>
<table>
    <tr>
        <th>post ID</th>
        <th>post Name</th>
        <th>Description</th>
        <th>Blog ID</th>
        <th>Actions</th>
    </tr>
    {% for _row in db_rows %}
    <tr>
        <td>{{ _row[0] }}</td>
        <td>{{ _row[1] }}</td>
        <td>{{ _row[2] }}</td>
        <td>{{ _row[3] }}</td>
        <td>

            <a href="{{ url_for('update_blogpost',blog_id=blog_id, post_id=_row[0]) }}">Edit</a>

        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
