<!DOCTYPE HTML>

<html>
<head>
    <title> Login </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <h1> Login </h1>

    <form action="/" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" name="Login" value=Login>
    </form>
    <br>
    <form action="/signup" method="POST">
        <p>Don't have an account? Click the button:</p>
        <input type="submit" name="Login" value="sign up">
    </form>
    <br>
</body>
<html>
